version: "3.9"

services:

  webapi:
    build:
      context: .
      dockerfile: LibraryBackend/Dockerfile
    container_name: webapi
    depends_on:
      sqlserver:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__DefaultConnection: ${ConnectionStrings__DefaultConnection}
      Rabbit__Host: ${Rabbit__Host}
      Rabbit__Username: ${Rabbit__User}
      Rabbit__Password: ${Rabbit__Pass}
      PayPal__ClientId: ${PayPal__ClientId}
      PayPal__Secret: ${PayPal__Secret}
      PayPal__BaseUrl: ${PayPal__BaseUrl}
    ports:
      - "8080:8080"
      - "8081:8081"
    restart: unless-stopped

  subscriber:
    build:
      context: .
      dockerfile: Library.Subscriber/Dockerfile
    container_name: subscriber
    depends_on:
      rabbitmq:
        condition: service_healthy
      sqlserver:
        condition: service_started
    environment:
      - RabbitMQ__Host=${Rabbit__Host}
      - RabbitMQ__Username=${Rabbit__User}
      - RabbitMQ__Password=${Rabbit__Pass}
      - RabbitMQ__VirtualHost=${Rabbit__VirtualHost}
      - RabbitMQ__Port=${Rabbit__Port}

      - SMTP__Host=${Smtp__Host}
      - SMTP__Port=${Smtp__Port}
      - SMTP__User=${Smtp__User}
      - SMTP__Pass=${Smtp__Pass}
      - SMTP__UseStartTls=${Smtp__UseStartTls}

      - Email__From=${Email__From}
      - Email__Subject=${Email__Subject}

    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"     # AMQP for apps (EasyNetQ connects here)
      - "15672:15672"   # RabbitMQ Management UI
    environment:
      - RABBITMQ_DEFAULT_USER=${Rabbit__User}
      - RABBITMQ_DEFAULT_PASS=${Rabbit__Pass}
      - RABBITMQ_DEFAULT_VHOST=${Rabbit__VirtualHost}
    healthcheck:
      test: ["CMD-SHELL", "rabbitmqctl status"]
      interval: 10s     
      timeout: 10s       
      retries: 20        
      start_period: 30s
    restart: unless-stopped

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}  
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD-SHELL", "grep -qi 'SQL Server is now ready' /var/opt/mssql/log/errorlog*"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

networks:
  default:
    name: library_network
